* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.main {
  background-color: #f5f5f5;
  width: 80%;
  height: 10%;
  margin: 100px auto 50px auto;
  border-radius: 10px;
  box-shadow: -10px 10px 10px rgba(41, 39, 39, 0.1),
    /* Left shadow */ 10px 10px 10px rgba(41, 39, 39, 0.1),
    /* Right shadow */ 0px -10px 10px rgba(41, 39, 39, 0.1),
    /* Top shadow */ 0px 10px 10px rgba(41, 39, 39, 0.1); /* Bottom shadow */
}

.nav {
  position: fixed;
  top: 0px;
  background-color: rgb(10, 10, 50);
  height: 55px;
  width: 100%;
}


.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 5%;
  top: 15px;
  transition: all 0.7s ease-in;
}

.cross {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 6%;
  top: 15px;
  color: white;
  font-size: 25px;
  transition: all 0.7s ease-in;
}

.menu {
  height: 50vh;
  width: 200px;
  background-color: #e6dfdd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 1;
  position: fixed;
  top: 55px;
  right: 0px;
  border-radius: 5px;
  transition: all 0.7s ease-in;
  padding: 0 20px;
}

.menu ul {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 20px;
}

.menu li {
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #e6ebe2;
  border-radius: 5px;
  padding: 5px 10px;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 600;
}

.blur {
  filter: blur(3px);
  position: relative;
  z-index: -1;
}

.line {
  width: 30px;
  background-color: white;
  height: 3.5px;
  margin: 5px 3px;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.left-side {
  height: 55px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 25px;
  color: white;
}

.right_side {
  margin-left: 100px;
  height: 55px;
  width: 80%;
}

.right_side a {
  color: white;
  text-decoration: none;
}

.right_side ul {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right_side ul li {
  font-size: 18px;
  margin-right: 30px;
  list-style: none;
  display: inline;
}

.left-side a {
  text-decoration: none;
  color: white;
}

.for-hover:hover {
  border-bottom: 1px solid #3b383b;
  color: #b6b1af;
  text-decoration: none;
}

.hidden {
  display: none;
}

/* This is for main body */

.for-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pic {
  background-image: url("./Photos/main-pic.jpg");
  background-size: cover;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  margin-top: 100px;
}

.discription {
  margin-top: 10px;
  height: 150px;
  font-size: 50px;
  text-align: center;
  color: #000000;
}

.first-hr {
  width: 100%;
  margin-top: 5px;
  border: none;
  height: 5px;
  background-color: #000000;
}

.middle-hr {
  text-align: center;
  margin: 4px 0px 0px 60px;

  border: none;
  height: 5px;
  width: 75%;
  background-color: #000000;
}

.last-hr {
  margin: 4px 0px 0px 111px;
  width: 50%;

  border: none;
  height: 5px;
  background-color: #000000;
}

/* ----This is for about me section----- */

.about-heading {
  text-align: center;
  margin-top: 15px;
}

u {
  color: black;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 20px;
  margin-top: 50px;
  padding: 50px 50px 0px 50px;
}

.about-me p {
  margin-top: 20px;
  color: black;
  text-align: justify;
}

/* <--------------------------------------------------------------------- */
/* This is for contact me section */

.contact-me {
  color: black;
  font-size: 20px;
  margin-top: 50px;
  height: 550px;
  padding: 50px 50px 0px 50px;
}

.form {
  margin-top: 50px;
  padding-top: 20px;
  height: 410px;
  background-color: #cbd4c2;
  padding-left: 50px;
  color: black;
  border-radius: 6px;
  box-shadow: -5px 5px 5px #e6ebe2, 5px 5px 5px #e6ebe2, 5px -5px 5px #e6ebe2,
    -5px -5px 5px #e6ebe2;
}

.form input {
  display: block;
  color: black;
  outline: none;
  height: 20px;
  width: 200px;
  border-radius: 5px;
  border: none;
  padding: 7px;
  font-size: 15px;
}

.form-area {
  border: none;
  display: block;
  height: 50px;
  width: 450px;
  padding: 0;
  outline: none;
  border-radius: 5px;
  color: black;
  padding: 7px;
  resize: none;
  font-size: 15px;
}

.button {
  margin-top: 10px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  cursor: pointer;
  color: black;
  background-color: #ffffff;
  transition: all 0.2s ease-in;
}

.button:hover {
  background-color: #e4dccf;
  box-shadow: -3px 3px 3px #e6ebe2, 3px 3px 3px #e6ebe2, 3px -3px 3px #e6ebe2,
    -3px -3px 3px #e6ebe2;
}

/* This is for hire me section */

.hire-me {
  color: black;
  font-size: 20px;
  margin-top: 50px;
  padding: 0px 50px 20px 50px;
  text-align: center;
}

.hire-me h2 {
  margin-bottom: 20px;
}

.icons {
  color: blue;
  margin: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#logo-style {
  font-size: 50px;
}

i:hover {
  cursor: pointer;
  filter: drop-shadow(1px 1px 5px #000000);
}

.footer {
  background-color: rgb(10, 10, 50);
  height: 55px;
  width: 100%;
  color: white;
}

.copyright {
  text-align: center;
}

.copyright a {
  color: white;
  text-decoration: none;
}

.credit-to-me {
  text-align: center;
}

.credit-to-me a {
  color: white;
  text-decoration: none;
}

/* <-------------------For Responsive------------------------------> */
@media screen and (max-width: 788px) {
  .form-area {
    height: 50px;
    width: 250px;
  }
}

@media screen and (max-width: 680px) {
  .about-me {
    margin-top: 0px;
    padding-top: 0px;
    height: fit-content;
  }
  .form-area {
    width: 250px;
  }

  .left-side {
    font-size: 20px;
  }

  .discription {
    margin-top: 10px;
    height: 150px;
    font-size: 25px;
  }

  .hide {
    visibility: hidden;
  }

  .right_side {
    margin-left: 0px;
  }

  .right_side li a {
    font-size: 12px;
  }
  .icons {
    margin: 5px 0;
  }

  #logo-style {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .main {
    width: 90%;
  }

  .left-side {
    position: absolute;
    top: 0;
  }

  .right_side {
    height: 120px;
  }

  .about-me p {
    text-align: left;
    font-size: 18px;
  }

.burger{
  display: block;
}



  .nav-bar ul {
    display: none;
  }
  .form {
    width: 100%;
    padding-left: 10px;
  }

  #logo-style {
    font-size: 30px;
  }
}

@media screen and (max-width: 465px) {
  .form {
    padding-left: 10px;
  }

  .form-area {
    height: 50px;
    width: 200px;
  }

  .form button {
    height: 40px;
    width: 100px;
    margin: 15px 100px 0px 0px;
  }
}
